extends layout

block content
  .card 
    .card.header.text-center
      h3= 'Edit ' + paste.name + '\'s paste'
    .card.body
      form(action="/edit/" + id, method='POST')
          .mb-3
            label.form-label(for='name' style="color:red") Author
            input#authorName.form-control(type='text', name='author', value= paste.name)
          .mb-3
            label.form-label(for='description' style="color:red") Description
            input#descriptionName.form-control(type='text', name='description', value= paste.content)
            .form-text edit paste content
          button.btn.btn-success(type='submit') Edit