extends layout

block content
  .card 
    .card.header
      h3= 'Edit ' + author + '\'s paste'
    .card.body
      -var action= "/edit/" + id;
      form(action= action method='POST')
          .mb-3
            label.form-label(for='name') Author
            input#authorName.form-control(type='text', name='author', value= author)
          .mb-3
            label.form-label(for='description') Description
            input#descriptionName.form-control(type='text', name='description', value= description)
            .form-text write the paste's description
          button.btn.btn-success(type='submit') Edit