extends layout

block content
    .card
        .card-header.text-center
            h4(style="color:red;") Please complete all the fields!
        .card-body.text-center
            button.btn.btn-secondary(type='button' onclick="location.href='http://localhost:3000'") Go back